RewriteEngine On
RewriteBase /

# Если это не существующий файл
RewriteCond %{REQUEST_FILENAME} !-f
# Если это не существующая директория
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправить все на точку входа
RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]