@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat";
}

:root {
    --main-bg-color: #19191c;

    --land-button-main-bg-color: #8473ff;
    --land-button-main-bg-color-tr: #8473ff00;
    --land-login-button-fs: 14px;
    --land-login-button-fw: 600px;
}

p, a, h1, h2, h3, h4, h5, h6 {
    color: white;
}

body {
    background-color: var(--main-bg-color);
    margin: 0px;
    padding: 0px;
}

/* БЛОК КОНТЕЙНЕРОВ СТАРТ */
.container {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}
/* БЛОК КОНТЕЙНЕРОВ КОНЕЦ */

/* ГОРИЗОНТАЛЬНОЕ МЕНЮ СТАРТ */
.main-menu {
    background: var(--main-bg-color);
}

.menu-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-menu p, .main-menu a {
    margin: 0;
    padding: 0;
}

.main-menu-inner.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-menu-inner .main-menu-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-menu-inner .main-menu-items .menu-item {
    text-decoration: none;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.main-menu-inner .main-menu-items .menu-item.active {
    text-decoration: none;
    font-weight: 600;
}

.main-menu-inner .main-menu-items .menu-item:hover {
    opacity: 1;
}
/* ГОРИЗОНТАЛЬНОЕ МЕНЮ КОНЕЦ */

/* БЛОК КНОПОК СТАРТ */
.enter-button {
    border: 1px solid var(--land-button-main-bg-color);
    background: var(--land-button-main-bg-color-tr);
    text-decoration: none;
    padding: 10px 15px!important;
    border-radius: 100px;
    font-size: 14px;
    font-weight: var(--land-login-button-fw);
    transition: all 0.3s ease-in-out;
    display: block;
}

.enter-button:hover {
    background: var(--land-button-main-bg-color);
}
/* БЛОК КНОПОК КОНЕЦ */

.login-page {
    height: 100%;
    display: flex;
    background: url('/assets/images/trial-start-bg-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-page .container {
    width: 500px;
    padding: 20px;
}

.login-page .container h1{
    text-align: center;
}

.login-page .container .telegram-button {
    background: #ffffff10;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #ffffff20;
}